<ion-view title="Instalaciones" id="page2">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="SearchFacility">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 32px;"></div>
            <ion-item class="item-thumbnail-left"  ng-repeat="item_fa in items_fa | filter:filtro| limitTo:listlength" >
              <img src="{{item_fa.avatar}}">
              <h2>{{item_fa.nombre}}</h2>
              <p>{{item_fa.descripcion}}</p>
                <h2>{{item_fa.ubicacion}}</h2>  <h2>{{item.nivel}}</h2>
            </ion-item>
        </form>
        <ion-infinite-scroll ng-if="listlength_facility<=item_fa.length"
               on-infinite="loadMore()" distance="3%">
         </ion-infinite-scroll>
    </ion-content>
</ion-view>
