<ion-view title="Partida " id="page12">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
      <img src="{{image}}" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;">
    </div>
    <center>
      <div class="row">
        <h4>Nivel  </h4><img src="{{image}}" class="col" />
        <h4>Nos Faltan  </h4><img src="{{image}}" class="col" />

      </div>
      <center>
        <center>
          <div class="row">
            <div class="col">
              <h4>Dia:{{day}}</h4></div>
            <div class="col">
              <h4>Hora:{{hour}}</h4>
              <div>
              </div>
        </center>
        <button id="partida-button14" class="button button-balanced  button-block">Jugar</button>
        <br>
        <h4 id="partida-heading15" style="color:#000000;">Normas:</h4>
        <br>
        <div id="partida-markdown1" style="color:#000000;">
          <p>Prohibido borrarse del evento una vez inscrito o encontrar sustituto(Si no posible sanción)</p>
        </div>
  </ion-content>
</ion-view>

     <ion-footer-bar  class="bar bar-footer">
  <div class="col">
  <ion-icon ios="logo-buffer" md="logo-buffer"></ion-icon>
  </div>
  <div class="col">
  <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
  </div>
  <div class="col">

   <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
  </div>



</ion-footer-bar>
