<ion-view title="Partidas" id="page1">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list" >
            <label class="item item-input" name="SearchGame">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="filtro" placeholder="Buscar partidas ">
            </label>
            <div class="spacer" style="width: 285px; height: 33px;"></div>
            <ion-item href="#/game/{{item.id}}" class="item-thumbnail-left"  ng-repeat="item in items | filter:filtro| limitTo:listlength" >
                <img src="{{item.deporte}}">
                <h2>{{item.nombre_game}}</h2>
                <p>{{item.descripcion}}</p>
                  <h2>{{item.hora}}</h2>  <h2>{{item.ubicacion}}</h2>
            </ion-item>

        </form>
        <ion-infinite-scroll ng-if="listlength<=items.length"
               on-infinite="loadMore()" distance="3%">
         </ion-infinite-scroll>
</ion-view>
