<ion-view title="Cambiar Password" id="page17">

  <ion-content overflow-scroll="true" padding="true" class="has-header">

    <form class="list" novalidate="novalidate" id="form" name="form">
      <p>
        <b class="positive letter">Modificar password:</b>
      </p>
      <label class="item item-input" name="Change_password">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" name="password" id="password" ng-model="modifypass.password" ng-pattern="myRegex_password" required>
      </label>
      <span class="warning" ng-show="form.password.$error.required && (form.password.$dirty || form.password.$touched)">El campo es obligatorio</span>
        <span class="text-danger" ng-show="form.password.$error.pattern">Password no es válido</span>

      <div class="spacer" style="width: 285px; height: 16px;"></div>
      <label class="item item-input" name="SignUpPassword2">
        <span class="input-label">Nuevo Password</span>
        <input type="password" placeholder="Password" ng-model="modifypass.password2" ng-pattern="myRegex_password" name="password2"  required>
      </label>

      <span class="text-danger" ng-show="form.password2.$error.required && (form.password2.$dirty || form.password2.$touched)">El campo es obligatori</span>
      <span class="text-danger" ng-show="form.password2.$error.pattern">Password no es válido</span>
      <div class="spacer" style="width: 285px; height: 16px;"></div>
      <label class="item item-input" name="SignUpPassword2">
        <span class="input-label">Nuevo Password</span>
        <input type="password" placeholder="Confirmar Password" ng-model="modifypass.password3" ng-pattern="myRegex_password" name="password3"  password-check="password2" required>
      </label>

      <span class="text-danger" ng-show="form.password3.$error.required && (form.password3.$dirty || form.password3.$touched)">El campo es obligatori</span>
      <span class="text-danger" ng-show="form.password3.$error.pattern">Password no es válido</span>
      <div class="msg-block" ng-show="form.$error">
        <span class="warning" id="red" ng-show="form.password3.$error.pwmatch">
          Passwords no coinciden
        </span>
      </div>

      <button id="signup-button4" class="button button-positive  button-block" ng-disabled="form.$invalid" ng-click="modfifypass()">Cambiar contraseña</button>

    </form>
  </ion-content>
  <ion-tabs class="tabs-stable tabs-icon-top">
     <ion-tab title="Camera Tab" icon="ion-ios-camera" href="#/page1/page2">
         <ion-nav-view name="tab1"></ion-nav-view>
     </ion-tab>
     <ion-tab title="Cart Tab" icon="ion-ios-cart" href="#/page1/page3">
         <ion-nav-view name="tab2"></ion-nav-view>
     </ion-tab>
     <ion-tab title="Cloud Tab" icon="ion-ios-cloud" href="#/page1/page4">
         <ion-nav-view name="tab3"></ion-nav-view>
     </ion-tab>
 </ion-tabs>
</ion-view>
