<ion-view title="Mi Perfil" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" >
                <img src="{{image}}">
                <h2>{{name}}</h2>
                <p>{{email}}</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 48px;"></div>
        <ion-list>
            <ion-item ui-sref="mENU.newGame">Nueva Partida</ion-item>
            <ion-item>Invitaciones</ion-item>
            <ion-item ui-sref="mENU.modify">Modificar Perfil</ion-item>
            <ion-item ui-sref="mENU.settings">Settings</ion-item>
        </ion-list>
    </ion-content>
    <ion-tabs class="tabs-positive tabs-icon-top">
      <ion-tab title="Camera Tab" icon="ion-ios-camera" >
          <ion-nav-view name="tab1"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Cart Tab" icon="ion-ios-cart"
          <ion-nav-view name="tab2"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Cloud Tab" icon="ion-ios-cloud">
          <ion-nav-view name="tab3"></ion-nav-view>
</ion-view>
