<ion-view title="Crear Instalación" id="page7">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div class="spacer" style="width: 285px; height: 16px;"></div>
            <label class="item item-input" name="NewFacilityName">
                <span class="input-label">Nombre:</span>
                <input type="text" placeholder="Nombre instalación">
            </label>
            <div class="spacer" style="width: 285px; height: 16px;"></div>
            <label class="item item-select" name="NewFacilityProvince">
                <span class="input-label">Provincia</span>
                <select></select>
            </label>
            <div class="spacer" style="width: 285px; height: 16px;"></div>
            <label class="item item-select" name="NewFacilityCity">
                <span class="input-label">Ciudad</span>
                <select></select>
            </label>
            <a ui-sref="mENU.nuevaPartida" id="crearInstalaciN-button21" class="button button-positive  button-block">Crear Instalación</a>
        </form>
    </ion-content>
</ion-view>