<ion-view title="Recordar Password" id="page11">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form class="list" novalidate="novalidate" id="form_recover" name="form_recover">
      <b id="recordarPassword-heading5" class="positive letter" style="color:#000000;">INTRODUZCA EMAIL:</b>
      <div class="spacer" style="width: 285px; height: 16px;"></div>
      <label class="item item-input" name="SignUpEmail">
        <input type="email" placeholder="Email" ng-model="recovery.email" ng-pattern="myRegex_email" id="email_recovery" name="email_recovery" required autofocus="">
      </label>
      <span class="warning" ng-show="form_recover.email_recovery.$error.required && (form_recover.email_recovery.$dirty || form_recover.email_recovery.$touched)">Este campo es requerido</span>
      <span class="warning" ng-show="form_recover.email_recovery.$error.pattern">Email no válido</span>
   <span class="text-danger" ng-show="AlertMessage" ng-model="recovery.recov_email_error">{{recovery.recov_email_error}}</span>
      <div class="spacer" style="width: 285px; height: 16px;"></div>
      <button id="recordarPassword-button6" class="button button-positive  button-block" ng-click="recovery_submit()" ng-disabled="form_recover.$invalid">Enviar</button>
    </form>
  </ion-content>
</ion-view>
