<ion-view title="Usuarios" id="page15">
    <ion-content overflow-scroll="true" padding="true" class="has-header"></ion-content>
    <ion-tabs class="tabs-stable tabs-icon-top">
       <ion-tab title="Camera Tab" icon="ion-ios-camera" href="#/page1/page2">
           <ion-nav-view name="tab1"></ion-nav-view>
       </ion-tab>
       <ion-tab title="Cart Tab" icon="ion-ios-cart" href="#/page1/page3">
           <ion-nav-view name="tab2"></ion-nav-view>
       </ion-tab>
       <ion-tab title="Cloud Tab" icon="ion-ios-cloud" href="#/page1/page4">
           <ion-nav-view name="tab3"></ion-nav-view>
       </ion-tab>
   </ion-tabs>
</ion-view>
