/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$positive: #081B42 !default;
$stable: #00AF27 !default;
$light: #fff !default;
$button-stable-text:#fff!default;
$energized:red!default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$font-family-zoloft: "../lib/ionic/fonts" !default;
@font-face {
    font-family: Zoloft;
    font-style: normal;
    font-weight: normal;
    src: url("../lib/ionic/fonts/Zolofn_.ttf");
}


// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
