<ion-view title="Chat" id="page16">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="">
            </label>
            <button id="chat-button17" class="button button-positive  button-block">Enviar</button>
        </form>
    </ion-content>
</ion-view>