<ion-view title="Login" id="page5">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form class="list" novalidate="novalidate" id="form_login" name="form_login">
      <a style="display:inline-block;" href="#" onclick="window.open('http://51.254.97.198/NFU/#/', '_system', 'location=yes'); return false;">
        <div style="text-align:left;">
          <img src="img/x7OTrg9bSuKsBOlzzHXB_logo.svg" width="100%" height="50">
        </div>
      </a>
      <div class="spacer" style="width: 285px; height: 25px;"></div>
      <div>
        <p>
          <b class="positive letter">INICIAR SESIÓN:</b>
        </p>
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Usuario" ng-model="login.user" id="user_login" name="user_login" ng-pattern="myRegex_name" required autofocus="">

      </label>
      <span class="warning" ng-show="form_login.user_login.$error.required && (form_login.user_login.$dirty || form_login.user_login.$touched)">Este campo es requerido</span>
      <span class="warning" ng-show="form_login.user_login.$error.pattern">Usuario no válido</span>
       <span class="text-danger" ng-show="AlertMessage" ng-model="login.user_error">{{login.user_error}}</span>
      <ion-list></ion-list>
      <div class="spacer" style="width: 285px; height: 7px;"></div>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="login.password" name="password_login" ng-pattern="myRegex_password" id="password_login" required>

      </label>
      <span class="warning" ng-show="form_login.password_login.$error.required && (form_login.password_login.$dirty || form_login.password_login.$touched)">Este campo es requerido</span>
      <span class="warning" ng-show="form_login.password_login.$error.pattern">Password no válido</span>
         <span class="text-danger" ng-show="AlertMessage" ng-model="login.password_error">{{login.password_error}}</span>
        <span class="text-danger" ng-show="AlertMessage" ng-model="login.activar_error">{{login.activar_error}}</span>
      <div class="spacer" style="width: 285px; height: 25px;"></div>

      <a id="login-button1" class="button button-positive  button-block" ng-click="login_submit()" ng-disabled="form_login.$invalid">Iniciar sesion</a>
      <div class="spacer" style="width: 285px; height: 25px;"></div>
      <a class="facebook-sign-in button button-block" ng-click="facebookSignIn()">Login with Facebook</a>
      <ion-item class="positive item-icon-right" ui-sref="signup">Crear Cuenta<i class="icon ion-chevron-right custom-icon"></i></ion-item>
      <div class="spacer" style="width: 285px; height: 17px;"></div>
      <ion-list>
        <ion-item class="positive item-icon-right" ui-sref="recover">Recuperar Contraseña<i class="icon ion-chevron-right custom-icon"></i></ion-item>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
