<ion-view title="Modificar datos" id="page14">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form class="list" name="dates">
      <h3 id="modificarDatos-heading6" style="color:#000000;">Datos Personales:</h3>
      <label class="item item-input" name="ProfileName">
        <span class="input-label">Usuario*:</span>
        <input type="text" placeholder="Name" ng-model="modify.name" value="{{name}}" disabled>
      </label>
      <div class="spacer" style="width: 285px; height: 15px;"></div>
      <h5 id="modificarDatos-heading9" style="color:#000000;">Género:</h5>


      <div class="list">
        <ion-radio ng-repeat="item in  modify.sex" ng-value="item.value" ng-model="data.sex" ng-change='newValue(item.value)'> {{ item.text }}
        </ion-radio>
      </div>
      <div class="spacer" style="width: 285px; height: 15px;"></div>
      <label class="item item-input" name="ProfileDate">
        <span class="input-label">Fecha Nacimiento*:</span>
        <input type="date" placeholder="" ng-model="modify.date">
      </label>
      <span class="text-danger" ng-show="AlertMessage" ng-model="modify.date_error">{{modify.date_error}}</span>

      <h3 id="modificarDatos-heading7" style="color:#000000;">Avatar:</h3>
      <div class="center">
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">

      </div>
      <div class="row">
        <div class="col">
          <button class="button button-positive button-full" ng-click="takePhoto()">Cámara</button>
        </div>
        <div class="col">
          <button class="button button-positive button-full" ng-click="gallery()">Galeria</button>
        </div>
      </div>
      <div class="col">
        <button class="button button-positive button-full" ng-click="upload()">Upload</button>
      </div>
      <h3 id="modificarDatos-heading7" style="color:#000000;">Por dónde juegas:</h3>
      <label class="item item-input" name="ProfileCity">
        <span class="input-label">Ciudad: </span>
        <input type="text" placeholder="Ciudad" ng-model="modify.city">
      </label>
      <div class="spacer" style="width: 285px; height: 15px;"></div>
      <h3 id="modificarDatos-heading11" style="color:#000000;">Contacto:</h3>
      <label class="item item-input" name="ProfilePhone">
        <span class="input-label">Teléfono:</span>
        <input type="tel" placeholder="Teléfono" ng-model="modify.telf">
      </label>
      <div class="spacer" style="width: 285px; height: 15px;"></div>
      <label class="item item-input" name="ProfileEmail">
        <span class="input-label">Email*:</span>
        <input type="text" placeholder="Email" ng-model="modify.email" disabled>
      </label>
      <h3 id="modificarDatos-heading8" style="color:#000000;">Tus deportes:</h3>

      <div class="list">
        <ion-radio ng-repeat="item in  modify.level" ng-value="item.value" ng-model="data.level" ng-change='newValue_level(item.value)'> {{ item.text }}
        </ion-radio>
      </div>
      <h5 id="modificarDatos-heading13" style="color:#000000;">Preferencias deportes:</h5>
      <label class="item item-select" name="ProfileSport">
        <div ng-repeat="sport in modify.sport">

          <ion-checkbox ng-model="sport.checked">{{sport.name}}</ion-checkbox>
        </div>
      </label>
      <a id="modificarDatos-button9" class="button button-positive  button-block" ng-disabled="dates.$invalid" ng-click="update()">Modificar</a>
      <h5 id="modificarDatos-heading14" style="color:#000000;text-align:right;">*Campos Obligatorios</h5>
    </form>
  </ion-content>
</ion-view>
