<ion-view title="Settings" id="page10">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" name="SettingsGames">Notificaciones Partidas</ion-toggle>
            <div class="spacer" style="width: 285px; height: 31px;"></div>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" name="SettingsUsers">Notificaciones Usuarios</ion-toggle>
        </form>
    </ion-content>
</ion-view>