<ion-view title="Signup" id="page9">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form class="list" novalidate="novalidate" id="form" name="form">
      <label class="item item-input" name="SignUpName">
        <span class="input-label">Usuario</span>
        <input type="text" placeholder="Usuario" name="name" id="name" ng-model="signup.name" ng-pattern="myRegex_name" required="required" autofocus>
      </label>
      <span class="warning" ng-show="form.name.$error.required && (form.name.$dirty || form.name.$touched)">Este campo es requerido</span>
      <span class="warning" ng-show="form.name.$error.pattern">Usuario no válido</span>
      <span class="warning" ng-show="AlertMessage" ng-model="signup.name_error">{{signup.name_error}}</span>
      <div class="spacer" style="width: 285px; height: 16px;"></div>

      <label class="item item-input" name="SignUpPassword">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" name="password" id="password" ng-model="signup.password" ng-pattern="myRegex_password" required>
      </label>
      <span class="warning" ng-show="form.password.$error.required && (form.password.$dirty || form.password.$touched)">El campo es obligatorio</span>
        <span class="text-danger" ng-show="form.password.$error.pattern">Password no es válido</span>

      <div class="spacer" style="width: 285px; height: 16px;"></div>
      <label class="item item-input" name="SignUpPassword2">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Confirmar Password" ng-model="signup.password2" ng-pattern="myRegex_password" name="password2"  password-check="password" required>
      </label>

      <span class="text-danger" ng-show="form.password2.$error.required && (form.password2.$dirty || form.password2.$touched)">El campo es obligatori</span>
      <span class="text-danger" ng-show="form.password2.$error.pattern">Password no es válido</span>
      <div class="msg-block" ng-show="form.$error">
        <span class="warning" id="red" ng-show="form.password2.$error.pwmatch">
          Passwords no coinciden
        </span>
      </div>
      <div class="spacer" style="width: 285px; height: 16px;"></div>
      <label class="item item-input" name="SignUpEmail">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-pattern="myRegex_email"  ng-model="signup.email" required name="email">

      </label>
      <span class="warning" ng-show="form.email.$error.required && (form.email.$dirty || form.email.$touched)">Este campo es requerido</span>
      <span class="warning" ng-show="form.email.$error.pattern">Email no válido</span>
        <span class="text-danger" ng-show="AlertMessage" ng-model="signup.email_error" >{{signup.email_error}}</span>
      <div class="spacer" style="width: 285px; height: 16px;"></div>


      <label class="item item-input" name="SignUpEmail">
        <span class="input-label">Fecha Nacimiento</span>
        <input type="date" placeholder="Nacimiento" required name="datefBirth" ng-model='signup.dateOfBirth'>
      </label>
       <span class="text-danger" ng-show="AlertMessage" ng-model="login.fecha">{{signup.fecha}}</span></div>
         <center><ion-spinner  ng-show="loading"></ion-spinner><center>
      <button id="signup-button4" class="button button-positive  button-block" ng-disabled="form.$invalid" ng-click="altaUser()">Registrate!</button>

    </form>
  </ion-content>
</ion-view>
